In [1]:
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings('ignore')
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt
    %matplotlib inline
    import matplotlib.cm as cm
    from sklearn.decomposition import PCA
    from sklearn.manifold import TSNE

### Load the dataset

In [2]:
df = pd.read_csv('data.csv')
print(df.shape)
print(df.isnull().any().any()) ##check missing value
df.describe()

(107856, 266)
False

,Y,X0,X2,X3,X4,X5,X6,X8,X9,X11,...,X461,X462,X467,X468,X469,X470,X472,X475,X477,X478
count,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,...,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000
mean,0.615795,1.477952,59.556038,0.001261,0.017700,7.401025,0.282265,1.160102,0.038857,0.000195,...,0.001085,0.012099,0.000436,0.002531,0.036363,0.001140,0.078002,0.013509,0.008660,0.006323
std,0.213486,17.865485,2215.079392,0.035487,1.325519,98.190201,35.262728,32.956659,0.727419,0.063944,...,0.032918,0.109331,0.020871,0.050247,0.187193,0.033751,0.268176,0.115440,0.092654,0.079267
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.777778,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,5727.000000,254212.000000,1.000000,419.000000,5299.000000,5516.000000,6725.000000,91.000000,21.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
df.head()

,Y,X0,X2,X3,X4,X5,X6,X8,X9,X11,...,X461,X462,X467,X468,X469,X470,X472,X475,X477,X478
0,0.074074,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.684211,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.814815,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.814815,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.421053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Select the first 20,000 instance as our dataset

In [16]:
trainSet = df.iloc[0:20000]
print(trainSet.shape)
print(trainSet['Y'].nunique())
trainSet.describe()
X=trainSet.drop(['Y'],axis=1).values
y=trainSet['Y']

(20000, 266)
2

## Data preprocessing

In [18]:
## Normalization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)
##y = scaler.fit_transform(y)

## preprocess Y, split it into two classes(0,1) according to their value
y_median=y.median()
for i in range (y.size):
    if y[i]<=y_median: y[i]=0
    else: y[i]=1
print(y.value_counts())
print(y.nunique())

C:\Users\emily\AppData\Local\Temp\ipykernel_24104\2163717553.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if y[i]<=y_median: y[i]=0
C:\Users\emily\AppData\Local\Temp\ipykernel_24104\2163717553.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  else: y[i]=1

0.0    10078
1.0     9922
Name: Y, dtype: int64
2

## Dimensionality reduction (PCA)
Source: Dimensionality reduction (PCA, tSNE) https://www.kaggle.com/code/tilii7/dimensionality-reduction-pca-tsne

In [7]:
##PCA
## n=10, 20, 25, 30
#n= 25
#pca = PCA(n_components = n, svd_solver = 'full', random_state = 1001)
#X_pca = pca.fit_transform(X)
#print('Explained variance: %.4f' % pca.explained_variance_ratio_.sum())

#print('Individual variance contributions:')
#for j in range(n):
#    print(pca.explained_variance_ratio_[j])