In [1]:
import warnings
with warnings.catch_warnings():
    warnings.filterwarnings('ignore')
    import numpy as np
    import pandas as pd
    import matplotlib.pyplot as plt
    %matplotlib inline
    import matplotlib.cm as cm
    from sklearn.decomposition import PCA
    from sklearn.manifold import TSNE

### Load the dataset

In [2]:
df = pd.read_csv('data.csv')
print(df.shape)
print(df.isnull().any().any()) ##check missing value
df.describe()

(107856, 266)
False

,Y,X0,X2,X3,X4,X5,X6,X8,X9,X11,...,X461,X462,X467,X468,X469,X470,X472,X475,X477,X478
count,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,...,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000,107856.000000
mean,0.615795,1.477952,59.556038,0.001261,0.017700,7.401025,0.282265,1.160102,0.038857,0.000195,...,0.001085,0.012099,0.000436,0.002531,0.036363,0.001140,0.078002,0.013509,0.008660,0.006323
std,0.213486,17.865485,2215.079392,0.035487,1.325519,98.190201,35.262728,32.956659,0.727419,0.063944,...,0.032918,0.109331,0.020871,0.050247,0.187193,0.033751,0.268176,0.115440,0.092654,0.079267
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.473684,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.777778,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,5727.000000,254212.000000,1.000000,419.000000,5299.000000,5516.000000,6725.000000,91.000000,21.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
df.head()

,Y,X0,X2,X3,X4,X5,X6,X8,X9,X11,...,X461,X462,X467,X468,X469,X470,X472,X475,X477,X478
0,0.074074,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.684211,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0.814815,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.814815,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,0.421053,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Select the first 20,000 instance as our dataset

In [4]:
trainSet = df.iloc[:20000]
print(trainSet.shape)
print(trainSet['Y'].nunique())
trainSet.describe()

(20000, 266)
584

,Y,X0,X2,X3,X4,X5,X6,X8,X9,X11,...,X461,X462,X467,X468,X469,X470,X472,X475,X477,X478
count,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.0,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.00000,20000.000000,20000.000000
mean,0.660499,0.601800,150.208100,0.000650,0.031500,5.262950,0.064100,0.463850,0.033250,0.0,...,0.001750,0.000050,0.001450,0.001500,0.072050,0.001900,0.142100,0.02825,0.018650,0.006700
std,0.211566,1.478258,3621.150112,0.025487,0.674485,36.625799,0.939061,20.453927,0.593601,0.0,...,0.041797,0.007071,0.038052,0.038702,0.258577,0.043549,0.349161,0.16569,0.135289,0.081581
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.553571,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
50%,0.703704,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
75%,0.818182,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
max,0.982759,50.000000,254212.000000,1.000000,63.000000,2619.000000,48.000000,2877.000000,12.000000,0.0,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000

In [13]:
X=trainSet.drop(['Y'],axis=1).values
y=trainSet['Y']
print(X.shape)
print(y.shape)

(20000, 265)
(20000,)

## Dimensionality reduction (PCA)
Source: Dimensionality reduction (PCA, tSNE) https://www.kaggle.com/code/tilii7/dimensionality-reduction-pca-tsne

In [21]:
##PCA
## n=10, 20, 25, 30
#n= 25
#pca = PCA(n_components = n, svd_solver = 'full', random_state = 1001)
#X_pca = pca.fit_transform(X)
#print('Explained variance: %.4f' % pca.explained_variance_ratio_.sum())

#print('Individual variance contributions:')
#for j in range(n):
#    print(pca.explained_variance_ratio_[j])

Explained variance: 0.9828
Individual variance contributions:
0.255775769176103
0.18730141058939428
0.12187116955747222
0.11056642383261671
0.1025231620686143
0.0443320346678058
0.029267284891526496
0.02247353219984388
0.01647849755603264
0.015707586065625397
0.013516320524040646
0.009849446542140417
0.007474615351247918
0.005733383534027498
0.005716584506252934
0.005359426745903693
0.005159415215407472
0.0051005995715109895
0.004344856744721437
0.0030121177270533124
0.0025176350911702366
0.0024586703396142153
0.0021714821212039017
0.00212345173753858
0.001991578848497401